$color-list: (
  theme: #1890ff,
  black: #333,
  white: #fff,
);

@each $color-name, $color-value in $color-list {
  .c-#{"" + $color-name} {
    color: #{$color-value};
  }
}

@each $color-name, $color-value in $color-list {
  .bg-#{"" + $color-name} {
    background: #{$color-value};
  }
}

@mixin c($color) {
  color: #{map-get($color-list, $color)};
}

@mixin bg($color) {
  background: #{map-get($color-list, $color)};
}
